{{#if hasUnhitShipPart}}
<span class="cell ship-unhit" {{action 'fireShot'}}>[o]</span>
{{else if hasShipPartHit}}
<span class="cell ship-hit" {{action 'fireShot'}}>[*]</span>
{{else if cell.beenFiredOn}}
<span class="cell missed-shot" {{action 'fireShot'}}>[x]</span>
{{else}}
<span class="cell" {{action 'fireShot'}}>[ ]</span>
{{/if}}

